@import url('https://fast-naptime.netlify.app/font/HarmonyOS_Font_Regular/regular.css');
html,
body {
  font-family: 'HarmonyOS Sans SC', 'HarmonyOS_Regular', 'NanumGothic', system-ui, —apple-system, Segoe UI, Rototo,
    Helvetica, Arial, sans-serif !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  box-shadow: inset 0 0 10px #0000001a;
}

::-webkit-scrollbar-thumb:hover {
  background: #b6b7b9;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}
